{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <!-- Additional CSS for this specific page -->
    <link href="{% static 'css/billinginfo.css' %}" rel="stylesheet" />
    <!-- Add more CSS files if needed -->
{% endblock %}

{% block content %}


<link rel="stylesheet" href="{% static 'css/order_styles.css' %}">

<div class="order-container">
    <div class="order-header">
        <h3>Unshipped Items</h3>
    </div>
    
    <table class="order-table">
        <thead>
            <tr>
                <th>Order</th>
                <th>Price</th>
                <th>Customer Email</th>
                <th>Date Ordered</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for item in orders %}
            <tr>
                <td><a href="{% url 'orders' item.id %}">{{ item.id }}</a></td>
                <td>${{ item.amount_paid }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.date_ordered }}</td>
                <td>
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="shipping_status" value="true">
                        <input type="hidden" name="num" value="{{ item.id }}">
                        <button type="submit" class="order-btn btn-success">Mark Shipped</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}