{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
 
    
<link rel="stylesheet" href="{% static 'css/order_styles.css' %}">

{% endblock %}

{% block content %}


<div class="order-container">
    <div class="table-wrapper">
    <div class="order-header">
        <h3>Shipped Items</h3>
    </div>
    
    <table class="order-table">
        <thead>
            <tr>
                <th>Order</th>
                <th>Price</th>
                <th>Customer Email</th>
                <th>Date Shipped</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
    {% for item in orders %}
    <tr>
        <td data-label="Order"><a href="{% url 'orders' item.id %}">{{ item.id }}</a></td>
        <td data-label="Price">${{ item.amount_paid }}</td>
        <td data-label="Customer Email">{{ item.email }}</td>
        <td data-label="Date Shipped">{{ item.date_shipped }}</td>
        <td data-label="Status">
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="shipping_status" value="false">
                <input type="hidden" name="num" value="{{ item.id }}">
                <button type="submit" class="order-btn btn-danger">Mark Unshipped</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</tbody>
    </table>
</div>
</div>

{% endblock %}


